body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul {
    list-style: none;
    padding-left: 5px;
}
a {
    color: black;
    text-decoration: none;
}
header {
    max-height: 13rem;
    background-image: url(../images/background-7b.png);
    background-size: 50%;
    padding: 15px;
    border-bottom: solid 5px rgb(252, 205, 162);
    background-color: rgba(252, 205, 162, 0.3);
    position: relative;
    z-index: 2;
}
header #catpedia {
    width: 300px;
    font-size: 4rem;
    background-color: white;
    border: solid 5px rgb(252, 205, 162);
    border-radius: 15rem;
    padding: 3%;
    display: flex;
    justify-content: center;
    margin: 5rem 28rem 0 28rem;
}

.content {
    max-width: 1440px;
    margin: auto;
    display: flex;
}
.sidebar {
    position: fixed;
    width: 10rem;
    top: 0;
    left: 2%;
    z-index: 1;
}
.main {
    position: relative;
    padding: 5rem 15rem;
    text-align: justify;
    background-image: url(../images/background-1b.jpg);
    z-index: 0;

}
.anchors {
    padding-left: 2%;
    position: fixed;
    width: 10rem;
    top: 0;
    right: 2%;
    z-index: 1;
}
figure {
    text-align: center;
}
.footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
}
