body, html {
    margin: 0;
    padding: 0;
    font-family: 'Itim', cursive;
    background-image: url(../images/background-1b.jpg);
}
ul {
    list-style: none;
    padding-left: 5px;
}
a {
    color: black;
    text-decoration: none;
}
li:hover {
    background-color: #ffe6d0;
    border: outset 5px #ffd3a9;
}
li li:hover {
    background-color: #ffd3a9;
    border: none;
}

header {
    max-height: 13rem;
    background-image: url(../images/background-7b.png);
    background-color: #ffebd4;
    background-repeat: repeat-x;
    background-position: top;
    background-attachment: fixed;
    background-size: 50%;
    padding: 15px;
    border-bottom: solid 5px #ffd3a9;
    position: relative;
    z-index: 2;
}
header #catpedia {
    width: 300px;
    font-size: 4rem;
    background-color: white;
    border: solid 5px #ffd3a9;
    border-radius: 15rem;
    padding: 2%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 9rem;
}
figure {
    text-align: center;
}
img {
    border: solid 15px #ffe6d0;
    border-image: url('../images/background-6b.png') 60 repeat;
}
.content {
    max-width: 1440px;
    margin: auto;
    display: flex;
}
.sidebar {
    position: fixed;
    width: 10rem;
    top: 0;
    left: 2%;
    z-index: 1;
}
.main {
    position: relative;
    padding: 5rem 15rem;
    text-align: justify;
    
    z-index: 0;

}
.anchors {
    padding-left: 2%;
    position: fixed;
    width: 10rem;
    top: 0;
    right: 2%;
    z-index: 1;
}
.footer {
    min-height: 50px;
    border-top: solid 1px #ffd3a9;
    background-color: #ffe6d0;
    padding-left: 2%;
}
